
body {
  font-family: objektiv-mk3, sans-serif;
  padding: 0 30px;
  color: #464646;
  background-color: #fcfcfc;
  font-weight:400;
  font-size: 17px;
  line-height: 29px;
}

.wrapper {
  max-width: 730px;
  margin: 0 auto;
}

header {
  margin-top:70px;
  margin-bottom:70px;
}

#thecope {
  text-decoration:none;
  font-size:70px;
  color:#474747;
  font-weight:800;
  text-align:left;
  display:inline-block;
  margin: 18px 0 0 0;
}

#byline {
  color: #E44232;
  font-weight:700;
  display:inline-block;
  vertical-align: text-bottom;
  margin:0 0 0 10px;
}

#navIcon {
  position: absolute;
  top:0;
  right:0;
  width: 45px;
  transition: filter 0.5s;
  filter: brightness(100%);
}

#navIcon:hover {
  transition: filter 0.5s;
  filter: brightness(85%);
}

#pinnedPosts {
  margin-top:25px;
  display:flex;
  margin-bottom:-70px;
}

header a {
  color: inherit;
  text-decoration:none;
}

#pinnedPosts a {
  color: inherit;
  text-decoration:none;
}

.sideLine {
  display: inline-block;
  width: 5px;
  background-color: #E44232;
  border-radius: 6px;
}

.pinnedBody {
  display:inline-block;
  margin-left:12px;
  vertical-align: top;
}

.pinnedHeader {
  color: #E44232;
  font-weight: 600;
  vertical-align: top;
  margin:0;
}

.pinnedTitle {
  display:inline-block;
  font-size: 1.2em;
  margin: 10px 0 0 0;
}

.pinnedDate {
  display:inline-block;
  font-size: 0.9em;
  margin: 10px 0 0 15px;
  text-transform: uppercase;
  font-weight: 100;
}

.postTitle {
  text-decoration:none;
  font-size: 1.9em;
  font-weight:bold;
  color: black;
}

.separator {
  height:50px;
}

.dateLine {
  color:#7e7e7e;
  font-weight:300;
  margin-bottom:15px;
  font-size: 0.9em;
  text-transform: uppercase;
}

/* Article Styles */

.content h1 {
  font-size: 1.4em;
}

.content h2 {
  font-size: 1.0em;
  color: black;
}

.content li {
  margin-bottom: 0.4em;
}

.content a {
  color: #E44232;
}

.content a.postTitle {
  color: black;
}

.content a:hover {
  transform: color 0.5s ease-in-out;
  color:black;
  text-decoration:none;
}

.content p {
  line-height:1.8em;
}

.content blockquote {
  border-left: 5px solid #E44232;
  border-radius:-5px;
  padding-left:15px;
  color: #797979;
  margin: 16px 0 16px 20px;
}

.content img {
  max-width:100%;
}

.daybreak {
  display:none;
}

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  display: block;
  padding: 1em 1em;
  border: 1px solid rgba(74, 145,227,0.5);
  background: #282c34;
  color: #abb2bf;
  border-radius:6px;
}

code {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size:100%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  padding:0 0.3em;
  font-weight:bold;
  overflow: scroll;
}

pre code {
  font-size: 95%;
  background: none;
  border: 0;
  color:white;
  font-weight:normal;
  width: max-content;
}

.paginationfooter {
  margin-top:100px;
}

.nextpage,.previouspage {
  color: #E44232;
  font-size: 1.5em;
  font-weight: bold;
}

.nextPage {
  float:right;
}

.projectIcon {
  float:left;
  margin-right:15px;
}

.permalink {
  text-decoration: none;
}

footer {
  text-align: center;
  color:#595959;
  margin-top:100px;
  margin-bottom:15px;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-right:20px;
  text-align: right;
}

.content ul {
  list-style-type: square;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-left:20px;
  color: #474747;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}


.microblog strong {
    font-family:"Courier 10 Pitch", Courier, monospace;
}

/* Style overrides for smaller screens */

@media only screen and (max-width: 600px) {
  body {
    padding: 0 10px;
  }

  #thecope {
    margin: 30px 0 0 0;
  }

  .pinnedDate {
    display:none;
  }

  .content blockquote {
    margin-left: 0px;
  }

  .pinnedTitle {
    font-size: 1.0em;
  }

  .postTitle {
    font-size: 1.4em;
  }

  .projectIcon {
    float:none;
    margin: 0 auto;
  }

  nav ul {
    width:100vw;
    padding-left: 0;
  }

}

@media only screen and (max-width:450px) {
  #thecope {
    font-size:60px;
  }
}
