<script src="https://use.typekit.net/gkr1eqt.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- <link rel="stylesheet" href="https://use.typekit.net/dsx3won.css">
<script>try{Typekit.load({ async: true });}catch(e){}</script>
 -->
  <title>{{ .Title }}</title>

  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <!-- Web Font:  "tk-ff-tisa-web-pro" -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet"
href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
