<header>
  <div id="topBar"></div>
  <h1 id="thecope"><a href="/">The Cope</a></h1>
  <p id="byline"><a href="/about">By Andrew Cope</a></p>

  <nav>
    <ul>
      {{ range .Site.Menus.main }}
    		{{ if .Page.Params.redirect_url }}
    			<li><a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
    		{{ else }}
    			<li><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
    		{{ end }}
    	{{ end }}
      <li><a href="/about">About</a></li>
      <li><a href="http://learnyourlines.app">Learn Your Lines</a></li>
      <li class="navImage"><a href="/rss"><img src="/img/rss.svg" alt="Follow me on Micro.blog" width="14" height="14"></a></li>
      <li class="navImage"><a href="https://micro.blog/cope"><img src="/img/microblog.svg" alt="Follow me on Micro.blog" width="16" height="16"></a></li>
    </ul>
  </nav>

</header>
